h2 {
    font-family: 'Courier New', monospace;
    font-size: 16pt;
    color: #2c2a3b;
    padding-left: 1rem;
}

h1 {
    font-family: 'Courier New', monospace;
    font-size: 20pt;
    color: #2c2a3b;
    padding-left: 1rem;
}


#chart {
    max-width: 1000px;
    max-height: 600px;
    padding-top: 3rem;
    padding-left: 1rem;
  }